html, body {
    margin: 0;
    padding: 0;
    font-family: Source Han Sans CN;
}

/*横向布局*/
.flex_row {
    display: flex;
    flex-direction: row;
}

/*纵向布局*/
.flex_colu {
    display: flex;
    flex-direction: column;
}

.header {
    justify-content: center;
}

.foot_menu a, .w_title {
    color: rgba(196, 196, 196, 1);
}

.foot_menu a:hover {
    color: #337ab7;
    text-decoration: none;
}

.menu:hover {
    cursor: pointer;
    color: rgba(37, 159, 94, 1);
}

.position {
    font-size: 1.4em;
    font-weight: 600;
    color: rgba(87, 87, 87, 1);
    line-height: 2.857em;
}

.img_ie {
    width: 100% \9;
}


/*Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    /*header*/
    .logo {
        width: 3.4em;
        height: auto;
        margin-top: 1.2em;
    }

    .company_name {
        font-size: 2.2em;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        margin-left: 0.7em;
        line-height: 1.3em;
    }

    .menu {
        font-size: 1.4em;
        font-weight: 500;
        color: rgba(102, 102, 102, 1);
        line-height: 4.3em;
    }

    .select_menu {
        color: rgba(37, 159, 94, 1);
    }

    .dis_m1 {
        margin-left: 2em;
    }

    .dis_m2 {
        margin-left: 0.4em;
    }

    /*footer*/
    .panel-footer {
        background: rgba(0, 0, 0, 1);
        opacity: 0.76;
        border-top: 0;
        align-items: center;
    }

    .footer_top {
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(222, 222, 222, 1);
    }

    .footer_top span {
        font-size: 1em;
        line-height: 3.8em;
        font-weight: 600;
        color: rgba(255, 0, 0, 1);
    }

    .footer_top input {
        width: 15em;
        height: 2em;
        border: 0;
        margin-top: 1em;
        padding-left: 1.2em;
        margin-left: 2em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top select {
        width: 10em;
        height: 2.3em;
        margin-top: 0.8em;
        margin-left: 0.5em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top button {
        width: 6em;
        height: 2em;
        background-color: rgba(0, 161, 58, 1);
        color: #ffffff;
        margin-top: 1em;
        margin-left: 0.5em;
        border: 0;
    }

    .col-md-8 {
        width: 100%;
    }

    .footer {
        /*justify-content: space-around;*/
        margin-top: 2em;
    }

    .foot_item {
        align-items: initial;
        margin-left: 0.5em;
    }

    .foot_menu_title {
        font-size: 1em;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .foot_menu {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1.5em;
    }

    .foot_menu li {
        font-size: 0.2em;
        font-weight: 500;
        margin-bottom: 0.3em;
    }

    .bank_icon {
        width: 4em;
        margin-bottom: 0.25em;
        margin-right: 0.25em;
    }

    .footer_icon {
        justify-content: space-around;
    }

    .icon_item {
        align-items: center;
        margin-right: 0.1em;
    }

    .w_icon {
        width: 5em;
    }

    .w_title {
        margin-top: 0.3em;
        font-size: 0.1em;
    }

    .back {
        font-size: 0.86em;
        font-weight: 400;
        color: rgba(240, 240, 240, 1);
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
}

/*Large devices (desktops, 992px and up)*/
@media screen and (min-width: 992px) {
    /*header*/
    .logo {
        width: 3.4em;
        height: auto;
        margin-top: 1.2em;
    }

    .company_name {
        font-size: 2.2em;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        margin-left: 0.7em;
        line-height: 1.3em;
    }

    .menu {
        font-size: 1.4em;
        font-weight: 500;
        color: rgba(102, 102, 102, 1);
        line-height: 4.3em;
    }

    .select_menu {
        color: rgba(37, 159, 94, 1);
    }

    .dis_m1 {
        margin-left: 5em;
    }

    .dis_m2 {
        margin-left: 2em;
    }

    /*footer*/
    .panel-footer {
        background: rgba(0, 0, 0, 1);
        opacity: 0.76;
        border-top: 0;
        align-items: center;
    }

    .footer_top {
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(222, 222, 222, 1);
    }

    .footer_top span {
        font-size: 1.2em;
        line-height: 3.8em;
        font-weight: 600;
        color: rgba(255, 0, 0, 1);
    }

    .footer_top input {
        width: 16.7em;
        height: 2.5em;
        border: 0;
        margin-top: 1em;
        padding-left: 1.2em;
        margin-left: 3em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top select {
        width: 16.7em;
        height: 2.6em;
        margin-top: 1em;
        margin-left: 2em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top button {
        width: 7.4em;
        height: 2.5em;
        background-color: rgba(0, 161, 58, 1);
        color: #ffffff;
        margin-top: 1em;
        margin-left: 2em;
        border: 0;
    }

    .col-md-8 {
        width: 100%;
    }

    .footer {
        /*justify-content: space-around;*/
        margin-top: 2em;
    }

    .foot_item {
        align-items: initial;
        margin-left: 1.4em;
    }

    .foot_menu_title {
        font-size: 1em;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .foot_menu {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1.5em;
    }

    .foot_menu li {
        font-size: 0.2em;
        font-weight: 500;
        color: rgba(196, 196, 196, 1);
        margin-bottom: 0.3em;
    }

    .bank_icon {
        width: 6em;
        margin-bottom: 0.25em;
        margin-right: 0.25em;
    }

    .footer_icon {
        justify-content: space-around;
    }

    .icon_item {
        align-items: center;
        margin-right: 1em;
    }

    .w_icon {
        width: 7em;
    }

    .w_title {
        margin-top: 0.3em;
    }

    .back {
        font-size: 0.86em;
        font-weight: 400;
        color: rgba(240, 240, 240, 1);
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {
    /*header*/
    .logo {
        width: 3.4em;
        height: auto;
        margin-top: 1.2em;
    }

    .company_name {
        font-size: 2.2em;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        margin-left: 0.7em;
        line-height: 1.3em;
    }

    .menu {
        font-size: 1.4em;
        font-weight: 500;
        color: rgba(102, 102, 102, 1);
        line-height: 4.3em;
    }

    .select_menu {
        color: rgba(37, 159, 94, 1);
    }

    .dis_m1 {
        margin-left: 8.2em;
    }

    .dis_m2 {
        margin-left: 3.4em;
    }

    /*footer*/
    .panel-footer {
        background: rgba(0, 0, 0, 1);
        opacity: 0.76;
        border-top: 0;
    }

    .footer_top {
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
        background: rgba(222, 222, 222, 1);
    }

    .footer_top span {
        font-size: 2em;
        font-weight: 600;
        color: rgba(255, 0, 0, 1);
        line-height: 2.85em;
    }

    .footer_top input {
        width: 16.7em;
        height: 2.5em;
        border: 0;
        margin-top: 1.5em;
        padding-left: 1.2em;
        margin-left: 6em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top select {
        width: 16.7em;
        height: 2.6em;
        margin-top: 1.5em;
        margin-left: 4.9em;
        background: rgba(255, 255, 255, 1);
    }

    .footer_top button {
        width: 7.4em;
        height: 2.5em;
        background-color: rgba(0, 161, 58, 1);
        color: #ffffff;
        margin-top: 1.5em;
        margin-left: 4.7em;
        border: 0;
    }

    .footer_box {
        align-items: center;
    }

    .footer {
        /*justify-content: space-around;*/
        margin-top: 3.2em;
    }

    .foot_item {
        align-items: initial;
        margin-left: 1.4em;
    }

    .foot_menu_title {
        font-size: 1.57em;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
    }

    .foot_menu {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 1.5em;
    }

    .foot_menu li {
        font-size: 1em;
        font-weight: 500;
        color: rgba(196, 196, 196, 1);
        margin-bottom: 0.5em;
    }

    .bank_icon {
        width: 8.3em;
        margin-bottom: 0.5em;
        margin-right: 0.5em;
    }

    .footer_icon {
        justify-content: space-around;
    }

    .icon_item {
        align-items: center;
        margin-right: 1.6em;
    }

    .w_icon {
        width: 8.6em;
    }

    .w_title {
        margin-top: 0.3em;
    }

    .back {
        font-size: 0.86em;
        font-weight: 400;
        color: rgba(240, 240, 240, 1);
        margin-top: 2.4em;
        margin-bottom: 0.78em;
    }

    .col-md-8 {
        width: 66.66666667%;
    }
}

@media screen and (min-width: 2560px) {
    .footer {
        width: 49%;
    }
}

