/*分类导航*/
.type_choose{
    margin-top: 1.42em;
    width: 100%;
    margin-left: 0.1em;
    margin-bottom: 1.42em;
}

.type_item{
    width: 100%;
}

.type_item h4{
    width: 5em;
    text-align: center;
    font-size: 0.85em;
    font-weight: 500;
    background: rgba(37,159,94,1);
    margin-bottom: 1.14em;
    color: #ffffff;
}

.ch_item p{
    font-size: 0.85em;
    font-weight: 400;
    color: rgba(102,102,102,1);
    margin-right: 1em;
}

/*内容*/
.list_con{
    justify-content: start;
    width: 100%;
    margin-left:0.1em;
}

.list_left{
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.com_logo{
    width: 10.42em;
    margin:1.42em 0 1.42em 1.42em;
}

.com_info{
    margin-left: 1.78em;
    width: 50%;
}

.com_name{
    font-size:1.5em;
    font-weight:bold;
    color:rgba(51,51,51,1);
}

.tj{
    margin-top: 1em;
}

.tj span{
    font-size:1.2em;
    font-weight:400;
    color:rgba(102,102,102,1);
}

.stars{
    margin-left: 0.64em;
    margin-top: 0.2em;
}

.star{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
}

.colandp{
    margin-top: 0.8em;
}

.row_first{
    margin-right: 1.5em;
}

.coll_img{
    width: 1.2em;
    height: 1.2em;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

.row_first span{
    font-size:1.42em;
    font-weight:400;
    color:rgba(102,102,102,1);
}

.address{

}

.address img{
    width: 0.85em;
    height: 1em;
}

.address span{
    font-size:1em;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-top: 0.4em;
    display: inline-block;
}

.btns{
    margin-top: 3.2em;
}

.btns span{
    font-size:1.42em;
    font-family:HuXiaoBo-NanShen;
    font-weight:400;
}

.btns span:nth-child(1){
    margin-top: 0.6em;
}

.btns span:nth-child(2){
    margin-top: 0.1em;
}

.green_btn,.withe_btn{
    width: 6em;
    height: 6em;
    text-align: center;
    letter-spacing: 0.5em;
}

.green_btn{
    background:rgba(37,159,94,1);
    border-radius:0.2em;
    color: #ffffff;
}

.withe_btn{
    background:rgba(255,255,255,1);
    color:rgba(102,102,102,1);
    margin-left: 2.2em;
}

.xuan_img{
    margin-left: 2.1em;
    padding-right: 0;
    padding-left: 0;
}

.s_box{
    border: 0.1em dashed;
    padding-left: 1em;
}

.search_in{
    font-size:1em;
    font-weight:400;
    color:rgba(208,208,208,1);
    border: 0;
}

.jzcase{
    width: 21.42em;
    margin-top: 1em;
}

.zw{
    width: 21.42em;
    height: 22.92em;
    background:rgba(237,237,237,1);
    margin-top: 1em;
}

.le_item{
    width: 100%;
    background:rgba(248,248,248,1);
    margin-bottom: 2.14em;
}

/*分页*/
.pager{
    margin-top: 3.57em;
    margin-bottom: 3.57em;
}
.page_ul li a{
    border: 0;
    border-radius: 0;
    background:rgba(230,230,230,1);
    font-size:1.3em;
    font-weight:400;
    color:rgba(102,102,102,1);
}

.page_ul li{
    margin-left: 0.35em;
    margin-right: 0.35em;
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span,.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-radius: 0;
}

.page_active,.page_active a{
    background:rgba(37,159,94,1) !important;
    color: #ffffff !important;
}