/*站内位置*/
.webposition {
    font-size: 1.42em;
    font-family: Source Han Sans CN;
    font-weight: 600;
    color: rgba(87, 87, 87, 1);
    margin-top: 1.35em;
    margin-bottom: 2.7em;
}

/*列表*/
.lg_box{
    width: 100%;
}

.lg_item{
    margin-bottom: 10em;
}

.m_title{
    width: 100%;
}

.le_line{
    width:0.28em;
    height:2em;
    background:rgba(37,159,94,1);
}

.m_l_title{
    font-size:2em;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-left: 1em;
    margin-top: -0.2em;
}

/*list*/
.item_box{
    margin-top: 2.7em;
    justify-content: space-between;
}

/*left*/
.m_i_left{
    width: 42em;
    border-radius:3px 3px 0px 0px;
    background:rgba(248,248,248,1);
}

.imgs{
    width: 42em;
    height: 26em;
}

.left_thumb{
    width: 100%;
    height: 100%;
    border-radius:3px 3px 0px 0px;
}

.play1{
    width: 7.28em;
    position: relative;
    margin-top: -29em;
    margin-left: 17em;
}

.summary{
    margin-left: 1.78em;
    margin-right: 1.78em;
    margin-top: 0.1em;
    cursor: pointer;
}

.move_name{
    font-size:2.14em;
    font-weight:bold;
    color:rgba(51,54,63,1);

}
.move_con{
    font-size:1em;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:1.3em;
    margin-top: 1.7em;
}
.left_bottom{
    justify-content: space-between;
    margin: 1.5em 2.3em 1.21em 1.78em;
}

.bo_num,.bo_name{
    font-size:20px;
    font-weight:400;
}

.bo_num{
    color:rgba(37,159,94,1);
}
.bo_name{
    color: #999999;
}

/*right*/
.m_i_right{

}

.ri_row{
    justify-content: space-between;
}

.one_box{
    width: 18em;
    background:rgba(248,248,248,1);
    border-radius:3px 3px 0px 0px;
}

.ri_row .one_box:nth-child(1){
    margin-right: 1.71em;
}

.s_imgs{
    width: 100%;
}

.s_thum{
    width: 100%;
}

.play2{
    position: relative;
    margin-top: -13em;
    margin-left: 7em;
}

.txt_s_name{
    font-size:1.28em;
    font-weight:400;
    color:rgba(51,54,63,1);
    margin-left: 1.3em;
    margin-bottom: 1.35em;
    margin-top: -0.1em;
}

.line_txt{
    margin-left: 1.71em;
    margin-right: 1.71em;
    border-bottom: 0.1em dashed rgba(230,230,230,1);
    font-weight:400;
}

.s_txt{
    margin-left: 1.71em;
    margin-right: 1.71em;
    justify-content: space-between;
}

.s_r_txt{
    margin-top: 1.35em;
    margin-bottom: 1.14em;
}

.s_r_txt span{
    font-size:1em;
    font-weight:400;
}

.s_r_txt span:nth-child(1){
    color: #259F5E;
}
.s_r_txt span:nth-child(2){
    color:#999999;
}

.dis_row{
    margin-top: 1.78em;
}

/*详情*/
.con_vodie{
    width: 100%;
    justify-content: space-between;
    margin-top: -2em;
}

.vodie_show{
}

.video_top{
    background-color: #F8F8F8;
}

.titles{
    margin-left: 2.42em;
    width: 57em;
    justify-content: space-between;
}

.video_name{
    font-size:2.14em;
    font-weight:bold;
    color:rgba(51,51,51,1);
}

.colls{
    margin-top: 2em;
}

.colls span{
    font-size:1em;
    font-weight:300;
    color:rgba(87,87,87,1);
}

.colls img{
    width: 1em;
    height: 1em;
    margin-top: 0.3em;
    margin-left: 0.42em;
}

/*视频播放*/
.play_v {
    width: 57em;
    height: 36.5em;
    background-color: rgba(0,0,0,0.7);
    margin: 2.42em;
}

.video_main {
    width: 100%;
    height: 100%;
}

.contrs {
    width: 57em;
    height: 3.8em;
    position: relative;
    margin-top: -4.1em;
}

.pro_box {
    height: 0.28em;
    background:linear-gradient(0deg,rgba(71,70,70,1),rgba(236,236,236,1));
    cursor: pointer;
}

.pro_play {
    width: 0px;
    height: 0.28em;
    line-height: 0.28em;
    background:rgba(37,159,94,1);
}

.pro_icon{
    display: inline-block;
    position: relative;
    width:1.5em;
    height:1.5em;
    background:rgba(37,159,94,1);
    border-radius:50%;
    margin-top: -0.7em;;
}

.pro_dibu {
    height: 0.28em;
    background:linear-gradient(0deg,rgba(71,70,70,1),rgba(236,236,236,1));
}

.cenplay{
    position: relative;
    margin-top: -41.5em;
    margin-left: 25.5em;
    width: 7.28em;
    height: 7.28em;
}

.btns{
    justify-content: space-between;
    margin-left: 1.64em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.btns img{
    width: 1.4em;
    height: 1.4em;
    margin-right: 1.57em;
}

.left_btns{
    justify-content: initial;
}

.right_btns{
    justify-content: initial;
}

.replay{
    width: 2em !important;
    height: 2em !important;
    margin-top: -0.3em !important;
}
/*视频播放结束*/

.link_us{
    width: 61.84em;
    margin-top: 2.42em;
    background: url("../images/link_us_back.png") no-repeat;
    background-size:100% auto;
}

.link_form{
    width: 18.85em;
    align-items: center;
    margin-top: 7.6em;
    margin-bottom: 3.2em;
    margin-left: 33.5em;
}

.inrow{
    width: 100%;
}

.inrow input{
    border-radius: 0;
    border: 0.01em solid #707070;
    font-size:1em;
    font-weight:300;
    color:rgba(79,79,79,1);
}

.inrow input::-webkit-input-placeholder {
    color:rgba(79,79,79,1);
}

.glyphicon-ok:before {
    content: "㎡";
    margin-right: 2em;
}

.btn-success{
    background:rgba(93,158,124,1);
    border-radius: 2em;
}

.sub_link{
    width:5em;
    background:rgba(93,158,124,1);
    border-radius:10px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/*right*/

.vodie_list{
    width: 18.5em;
    margin-top: -1em;
    margin-left: 2em;
}

.right_more{
    width: 17.5em;
    font-size:1.42em;
    font-weight:600;
    letter-spacing: 0.1em;
    color:rgba(87,87,87,1);
}

.more_list{
    margin-top: 2.35em;
}

.video_list{
    width: 100%;
    background:rgba(248,248,248,1);
    margin-bottom: 1.24em;
}

.right_thumb{
    width: 100%;
    border-radius:0.21em 0.21em 0 0;
}

.right_play{
    position: relative;
    width: 3.92em;
    margin-top: -13em;
    margin-left: 7em;
}

.video_list p{
    font-size:1.35em;
    font-weight:550;
    color:rgba(51,54,63,1);
    margin-left: 1.85em;
    margin-top: -2em;
    margin-bottom: 1em;
    display: inline-block;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 1024px) {
    .lg_item {
        margin-bottom: 6em;
    }
    .m_i_left {
        width: 35em;
    }
    .imgs {
        width: 35em;
        height: 20em;
    }
    .one_box {
        width: 15em;
    }
    .ri_row .one_box:nth-child(1) {
        margin-right: 1em;
    }
    .play1 {
        margin-top: -22em;
        margin-left: 14em;
    }
    .play2 {
        margin-top: -11em;
        margin-left: 5em;
    }
    /*视频详细页*/
    .titles {
        width: 47em;
    }
    .play_v {
        width: 47em;
        height: 30em;
    }
    .contrs {
        width: 47em;
    }
    .cenplay {
        margin-top: -33em;
        margin-left: 20em;
        width: 7em;
        height: 7em;
    }

    .link_us {
        width: 51.84em;
    }

    .link_form {
        width: 18.85em;
        margin-top: 6em;
        margin-left: 28em;
    }

    .vodie_list {
        width: 14.7em;
        margin-left: 1.5em;
    }

    .right_more {
        width: 14.7em;
    }

    .right_play {
        width: 3.6em;
        margin-top: -10em;
        margin-left: 5.5em;
    }

    .sub_link {
        width: 6em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}

@media screen and (max-width: 768px) {
    .webposition {
        margin-bottom: 2em;
    }
    .lg_item {
        margin-bottom: 3em;
    }
    .m_i_left {
        width: 27em;
    }
    .imgs {
        width: 27em;
        height: 17em;
    }
    .one_box {
        width: 11em;
    }
    .ri_row .one_box:nth-child(1) {
        margin-right: 1em;
    }
    .play1 {
        width: 6em;
        margin-top: -19em;
        margin-left: 11em;
    }
    .move_name {
        font-size: 1.5em;
        margin-top: 0.5em;
    }
    .move_con {
        margin-top: 1em;
        line-height: 1.5em;
    }
    .left_bottom {
        margin: 0.5em 2.3em 0.5em 1.78em;
    }
    .play2 {
        margin-top: -8em;
        margin-left: 4em;
        width: 3em;
    }

    .txt_s_name {
        margin-left: 1em;
        margin-bottom: 1.2em;
    }
    .line_txt {
        margin-left: 1.2em;
        margin-right: 1.2em;
    }
    .s_txt {
        margin-left: 1.2em;
        margin-right: 1.2em;
    }

    /*视频详细页*/
    .titles {
        width: 37em;
    }
    .titles {
        margin-left: 1.8em;
    }
    .video_name {
        font-size: 1.8em;
    }
    .play_v {
        width: 37em;
        height: 25em;
        margin: 1.8em;
    }
    .contrs {
        width: 37em;
    }
    .cenplay {
        margin-top: -30em;
        margin-left: 16em;
        width: 6em;
        height: 6em;
    }
    .link_us {
        width: 40.6em;
        margin-top: 1.8em;
    }
    .link_form {
        width: 16em;
        margin-top: 5em;
        margin-left: 22em;
    }

    .form-control {
        height: 25px;
    }

    .inrow input {
        font-size: 0.8em;
    }
    .sub_link {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        margin-top: -0.7em;
    }
    .form-control-feedback {
        line-height: 20px;
    }

    .vodie_list {
        width: 11em;
        margin-left: 0.5em;
    }

    .right_more {
        width: 11em;
        font-size: 1.2em;
    }
    .more_list {
        margin-top: 1.35em;
    }
    .video_list p {
        font-size: 1em;
        margin-left: 1.2em;
    }
    .right_play {
        width: 3em;
        margin-top: -8.3em;
        margin-left: 4em;
    }

}