.sev_img{
    width: 100% \9;
}

/*服务*/
.img_item{
    margin-bottom: 1.42em;
    cursor: pointer;
}

.zz_title{
    font-size:2.7em;
    font-weight:400;
    color:rgba(87,87,87,1);
}

.small_title{
    font-size:1em;
    font-weight:400;
    color:rgba(228,228,228,1);
}

/*搬家服务*/
.move_h,.point_item{
    align-items: center;
}

.move_h{
    margin-top: 5.7em;
}

.point{
    justify-content: space-around;
}

.point_item{
    background:rgba(244,244,244,1);
}

.p_img{
    width: 28.07em;
}

.p_sm_title{
    font-size:1.57em;
    font-weight:bold;
    color:rgba(102,102,102,1);
    margin-top: 0.5em;
}

.p_sm_con{
    font-size:1em;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-top: 0.2em;
}

.lanr{
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.img_left{
    margin-left: 2.5em;
}

.img_top{
   margin-top: 2.5em;
}

.type_img{
    width: 19.57em;
}

.sev_case{
    width: 162.6%;
    background:rgba(244,244,244,1);
    align-items: center;
    margin-bottom: 3.28em;
}


.sev_c_i{
    align-items: center;
    margin-left: 1.66em;
    margin-top: 1.78em;
    margin-bottom: 3em;
}

.sev_c_i img{
    width: 27.5em;
}

.ca_name{
    font-size:1.71em;
    font-weight:bold;
    color:rgba(153,153,153,1);
    margin-top: 0.5em;
}

.ca_con{
    font-size:1.29em;
    font-weight:bold;
    color:rgba(153,153,153,1);
}

.sev_c_m{
    font-size:1.43em;
    font-weight:400;
    color:rgba(153,153,153,1);
    margin-left: 58em;
    margin-top: 1.78em;
    cursor: pointer;
}

.sev_c_m_img{
    width: 1em;
    height: 1em;
    margin-left: 0.4em;
    margin-top: 0.3em;
}


@media screen and (max-width: 1024px) {
    .type_img{
        width: 15em;
    }

    .sev_case {
        width: 105.6%;
    }

    .sev_c_i img {
        width: 22em;
    }

    .sev_c_m {
        margin-left: 46em;
    }
}

@media screen and (max-width: 768px) {
    .type_img{
        width: 11em;
    }

    .sev_case {
        width: 103%;
    }

    .sev_c_i img {
        width: 17em;
    }

    .sev_c_m {
        margin-left: 33.1em;
    }
}