/*推荐*/
.tuj{
    align-items: center;
    width: 100%;
    margin-left: 0.8em;
}

.title{
    font-size:1.7em;
    font-weight:500;
    color:rgba(51,51,51,1);
    margin-top: 2.8em;
    margin-bottom: 1.3em;
}

.img_box{
    justify-content: space-around;
    background:rgba(248,248,248,1);

}

.img_box img{
    width: 10.6em;
    margin-top: 1.7em;
    margin-bottom: 1.9em;
    margin-left: 2em;
}

.dis_left{
    margin-left: 3.6em !important;
}

.dis_right{
    margin-right: 4em;
}

/*设计师列表*/
.ss_list{
    margin-top: 1.42em;
    width: 100%;
    margin-left: 0.8em;
    margin-bottom: 1.42em;
    background:rgba(248,248,248,1);

}

.ssinfo{
    justify-content: initial;
    margin-left: 1.6em;
    margin-top: 1.42em;
    margin-bottom: 1.42em;
}

.ticon{
    width: 5.5em;
    height: 5.5em;
}

/*设计师简介*/
.info_con{
    margin-left: 0.7em;
}

.name{
    font-size:1.2em;
    font-weight:500;
    color:rgba(51,51,51,1);
    margin-top: 0.3em;
}

.address,.good{
    font-size:1em;
    font-weight:400;
    color:rgba(102,102,102,1);
}
.address {
    margin-top: 0.1em;

}
.good{
    margin-top: -0.5em;
}

.link_btn{
    margin-left: 46em;
}

.link_btn img{
    width: 11.92em;
}

/*作品*/
.opus{
    justify-content: center;
    margin-bottom: 1.42em;
}

.opus img{
    width: 25em;
    margin-right: 0.8em;
    margin-left: 0.8em;
}

/*点击*/
.get_more{
    width: 100%;
    justify-content: center;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.cl_more_btn{
    width: 9.5em;
}

@media screen and (max-width: 1024px) {
    .title {
        margin-top: 2em;
    }
    .img_box img {
        width: 9em;
        margin-left: 1.3em;
    }
    .dis_left {
        margin-left: 3em !important;
    }
    .dis_right {
        margin-right: 3.6em;
    }
    .link_btn {
        margin-left: 32em;
    }
    .opus img {
        width: 20em;
    }
}

@media screen and (max-width: 768px) {
    .title {
        margin-top: 1.5em;
        margin-bottom: 0.8em;
    }
    .img_box img {
        width: 6.6em;
        margin-left: 1.2em;
    }
    .dis_left {
        margin-left: 2.8em !important;
    }
    .dis_right {
        margin-right: 3em;
    }
    .link_btn {
        margin-left: 18em;
    }
    .link_btn img {
        width: 9em;
    }
    .opus img {
        width: 15em;
    }
}